<div class="relative flex" #draggableContainer>
    <div
        class="flex h-screen flex-col overflow-auto overflow-x-hidden dark:bg-gray-800"
        [ngStyle]="{
            'width.px': queryParamsService.sidebarOpen ? sidebarWidth : 0,
        }"
        [ngClass]="{
            'transition-all duration-300': !isResizing,
        }"
    >
        <div class="px-4 py-4">
            <h2 class="flex justify-between text-lg font-semibold text-gray-600 dark:text-gray-200">
                <span class="flex items-center" i18n> Campaigns </span>
                <a
                    [routerLink]="[]"
                    [queryParams]="queryParamsService.globalQueryParams"
                    queryParamsHandling="replace"
                    preserveFragment
                >
                    <app-small-button matIcon="add"> </app-small-button>
                </a>
            </h2>

            <div class="relative mt-4 flex w-full flex-row gap-2">
                <i class="fas fa-search absolute left-3 top-3 text-gray-500 dark:text-gray-400"></i>
                <textarea
                    class="w-full resize-none overflow-hidden rounded-md bg-gray-200 p-2 pl-10 text-gray-800 outline-none dark:bg-gray-700 dark:text-gray-200"
                    rows="1"
                    placeholder="Search"
                    i18n-placeholder
                    (input)="adjustHeight($event)"
                    (keydown.control.enter)="campaignStore.getInitialSearchConcurrent()"
                    [(ngModel)]="campaignStore.searchValue"
                    (ngModelChange)="campaignStore.getInitialSearchConcurrent()"
                    #searchTextarea
                ></textarea>

                <select
                    class="rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 outline-none focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
                    [(ngModel)]="campaignStore.searchMode"
                    (ngModelChange)="campaignStore.getInitialSearchConcurrent()"
                >
                    <option [value]="'name'" i18n>name</option>
                </select>
            </div>

            <!-- Filters -->
            <div
                class="mt-2 w-full space-x-2 space-y-2"
                *ngIf="campaignStore.searchFilters.length > 0"
            >
                <span
                    class="inline-flex items-center rounded-md border border-blue-700 bg-blue-700/40 px-2 py-1 font-mono text-sm font-thin text-gray-400"
                    *ngFor="let filter of campaignStore.searchFilters"
                >
                    {{ filter.text }}

                    <button
                        class="ml-1 flex aspect-square w-6 items-center justify-center rounded-full hover:bg-blue-600/40"
                        (click)="campaignStore.removeFilter(filter)"
                    >
                        <mat-icon class="material-icons-outlined">delete</mat-icon>
                    </button>
                </span>
            </div>
        </div>

        <ul
            class="scrollable flex-1 overflow-y-auto"
            (scroll)="onScroll($event)"
            *ngIf="!campaignStore.searchValue"
        >
            <li *ngFor="let campaign of campaignStore.campaigns">
                <app-campaign-preview [campaign]="campaign"></app-campaign-preview>
            </li>
        </ul>

        <ul
            class="scrollable flex-1 overflow-y-auto"
            (scroll)="onScroll($event)"
            *ngIf="campaignStore.searchValue"
        >
            <li *ngFor="let campaign of campaignStore.searchCampaigns">
                <app-campaign-preview [campaign]="campaign"></app-campaign-preview>
            </li>
        </ul>
    </div>

    <!-- Resize handle -->
    <div
        class="absolute right-0 top-0 h-full cursor-col-resize border-r border-gray-200 bg-gray-300 dark:border-gray-700 dark:bg-gray-600"
        (mousedown)="startResizing($event)"
    >
        <div
            class="absolute left-1/2 top-1/2 z-10 flex -translate-x-1/2 -translate-y-1/2 cursor-col-resize items-center justify-center rounded-full bg-gray-200 dark:bg-gray-600"
        >
            <span class="material-icons text-sm text-gray-500 opacity-50 dark:text-gray-300">
                drag_indicator
            </span>
        </div>
    </div>
</div>

<app-timeout-error-modal
    [message]="errorStr"
    [data]="errorData"
    #errorModal
></app-timeout-error-modal>
