#options-modal > ul > li {
    @apply hover:bg-gray-200 dark:text-white dark:hover:bg-gray-800;
}

#options-modal > ul > li > a,
#options-modal > ul > li > p {
    @apply flex w-full items-center px-3 py-2;
}
