<div
    class="fixed bottom-0 left-0 right-0 top-0 z-10 flex max-h-screen items-center justify-center bg-gray-800 bg-opacity-70 py-8"
>
    <div
        class="flex max-h-full w-[800px] max-w-full flex-col overflow-y-hidden rounded-sm shadow-lg"
        role="dialog"
        tabindex="0"
    >
        <div
            class="flex flex-grow-0 items-center justify-between bg-blue-600 px-6 py-2 text-white dark:bg-gray-700"
        >
            <h2 class="text-xl font-medium" i18n>Message details</h2>
            <div class="flex gap-2">
                <button
                    class="flex aspect-square w-10 items-center justify-center rounded-full outline-none active:bg-gray-200 dark:active:bg-gray-600"
                    [ngClass]="{
                        'hover:bg-gray-400 dark:hover:bg-gray-600': true,
                    }"
                    (click)="close()"
                >
                    <!-- Material Icon -->
                    <mat-icon class="material-icons-outlined aspect-square text-white"
                        >close</mat-icon
                    >
                </button>
            </div>
        </div>

        <!-- JSON Viewer -->
        <div
            class="flex-grow-1 scrollable h-auto max-h-full w-full overflow-y-auto bg-white p-4 dark:bg-gray-900"
        >
            <app-json-viewer [json]="message" [initialDepth]="2"></app-json-viewer>
        </div>
    </div>
</div>
