<button
    [ngClass]="{
        'flex aspect-square items-center justify-center rounded-full outline-none active:bg-gray-200 dark:active:bg-gray-600': true,
        'bg-gray-300 dark:bg-gray-500': active,
        'hover:bg-gray-400 dark:hover:bg-gray-600': !active,
    }"
    [style]="'width: ' + width"
    #button
>
    <!-- Custom Content -->
    @if (customContent) {
        <ng-container *ngTemplateOutlet="customContent"></ng-container>
    }

    <!-- Image -->
    @if (!customContent && src) {
        <img
            [src]="src"
            class="aspect-square brightness-50 dark:brightness-100"
            [attr.alt]="alt || ''"
        />
    }

    <!-- Material Icon -->
    @if (!customContent && matIcon) {
        <mat-icon
            [fontIcon]="matIcon"
            class="material-icons-outlined aspect-square text-gray-500 dark:text-white"
        ></mat-icon>
    }

    @if (!customContent && matSymbol) {
        <mat-icon
            [fontIcon]="matSymbol"
            class="material-symbols-outlined aspect-square text-gray-500 dark:text-white"
        ></mat-icon>
    }
</button>
