li {
    @apply flex cursor-pointer items-center rounded-lg p-1 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-800;

    > span {
        @apply ml-2;
    }
}

.selected {
    @apply bg-gray-200 dark:bg-gray-800;
}

li.focus-ring {
    @apply outline outline-2 outline-blue-600 dark:outline-blue-400;
}
