<a
    [ngClass]="{
        'flex w-full items-center border-b border-gray-200 px-4 py-4 dark:border-gray-700': true,
        'bg-gray-200 dark:bg-gray-600': isSelected,
        'hover:bg-gray-300 dark:hover:bg-gray-700': !isSelected,
    }"
    [routerLink]="[]"
    [queryParams]="{ 'campaign.id': this.campaign.id }"
    queryParamsHandling="merge"
    preserveFragment
    #rootAnchor
>
    <div class="ml-3 flex-1 truncate">
        <div class="mb-2 flex items-center justify-between">
            <span
                class="truncate font-medium text-gray-800 dark:text-gray-200"
                [textContent]="campaign.name"
            ></span>
            <span
                class="text-sm text-gray-500 dark:text-gray-400"
                [textContent]="campaign.created_at | date: 'short'"
            ></span>
        </div>
        <div class="flex w-full flex-row items-end justify-between">
            <span
                class="text-md truncate text-left text-gray-500 dark:text-gray-400"
                [textContent]="campaign.id"
            ></span>
        </div>
    </div>
</a>
