button.options,
a.options {
    @apply inline-flex aspect-square w-6 items-center justify-center rounded-l-full rounded-r-full hover:bg-gray-800/50;
    pointer-events: auto;
}

img.options {
    @apply aspect-square w-5;
}

mat-icon {
    @apply flex items-center justify-center text-sm;
}
