<a
    [ngClass]="{
        'flex w-full items-center border-b border-gray-200 px-4 py-4 dark:border-gray-700': true,
        'bg-gray-200 dark:bg-gray-600': isSelected,
        'hover:bg-gray-300 dark:hover:bg-gray-700': !isSelected,
    }"
    [routerLink]="[]"
    [queryParams]="{ 'webhook.id': webhook.id }"
    preserveFragment
    #rootAnchor
>
    <div class="ml-3 flex-1 truncate">
        <div class="mb-2 flex items-center justify-between">
            <span
                class="truncate font-medium text-gray-800 dark:text-gray-200"
                [textContent]="webhook.url"
            ></span>
            <span
                class="text-sm text-gray-500 dark:text-gray-400"
                [textContent]="webhook.created_at | date: 'short'"
            ></span>
        </div>
        <div class="flex w-full flex-row items-end justify-between">
            <span
                [ngClass]="{
                    'text-green-600': webhook.http_method === 'GET',
                    'text-blue-600': webhook.http_method === 'POST',
                    'text-yellow-600': webhook.http_method === 'PUT',
                    'text-red-600': webhook.http_method === 'DELETE',
                    'text-orange-600': webhook.http_method === 'PATCH',
                }"
                class="text-md truncate text-left font-semibold"
                [textContent]="webhook.http_method"
            ></span>
            <code
                class="flex-shrink-0 text-sm dark:text-gray-500"
                [textContent]="webhook.event"
            ></code>
        </div>
    </div>
</a>
