@if (!showEmojiPicker) {
  <div
    class="z-10 w-40 rounded-lg bg-gray-100 p-2 shadow-xl dark:bg-gray-800"
    >
    <ul class="space-y-2">
      <!-- 'bg-gray-200 dark:bg-gray-800': messageType === 'raw', -->
      <li
        (click)="onSelectMessage($event)"
        role="button"
        tabindex="0"
        (keyup.enter)="onSelectMessage($event)"
        (keyup.space)="onSelectMessage($event)"
        >
        <mat-icon class="material-symbols-outlined">select_check_box</mat-icon>
        <span i18n>Select</span>
      </li>
      <li
        (click)="replyToMessage()"
        role="button"
        tabindex="0"
        (keyup.enter)="replyToMessage()"
        (keyup.space)="replyToMessage()"
        >
        <mat-icon class="material-icons-outlined">reply</mat-icon>
        <span i18n>Reply</span>
      </li>
      @if (message.receiver_data) {
        <li
          (click)="markAsRead()"
          role="button"
          tabindex="0"
          (keyup.enter)="markAsRead()"
          (keyup.space)="markAsRead()"
          >
          <img
            width="24"
            src="assets/icons/flaticon/double-green-check-mark-24.png"
            alt="Double blue tick"
            />
          <span i18n>Mark as read</span>
        </li>
      }
      @if ((message | messageData).type !== MessageType.reaction) {
        <li
          (click)="toggleEmojiPicker()"
          role="button"
          tabindex="0"
          (keyup.enter)="toggleEmojiPicker()"
          (keyup.space)="toggleEmojiPicker()"
          >
          <mat-icon class="material-icons-outlined">add_reaction</mat-icon>
          <span i18n>Add reaction</span>
        </li>
      }
      <li
        (click)="openMessageInfo()"
        role="button"
        tabindex="0"
        (keyup.enter)="openMessageInfo()"
        (keyup.space)="openMessageInfo()"
        >
        <mat-icon class="material-icons-outlined">info</mat-icon>
        <span i18n>Message data</span>
      </li>
    </ul>
  </div>
}

@if (showEmojiPicker) {
  <emoji-mart
    [style]="{
        width: '280px',
        boxShadow: '0 4px 12px rgba(0, 0, 0, 0.15)',
        borderRadius: '0.5rem',
    }"
    (emojiSelect)="onEmojiSelect($event)"
  ></emoji-mart>
}

@if (showMessageInfo) {
  <app-message-info-data
    [message]="message"
    (closeModal)="closeMessageInfo()"
  ></app-message-info-data>
}

<app-timeout-error-modal
  [message]="errorStr"
  [data]="errorData"
  #errorModal
></app-timeout-error-modal>
