name: Secret Detection

on: [push, pull_request]

jobs:
    gitleaks:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Install Gitleaks
              run: |
                  wget https://github.com/gitleaks/gitleaks/releases/download/v8.18.4/gitleaks_8.18.4_linux_x64.tar.gz
                  tar -xzf gitleaks_8.18.4_linux_x64.tar.gz
                  sudo mv gitleaks /usr/local/bin/

            - name: Run Gitleaks
              run: gitleaks detect --source . -v
